#pie #icons a {
    padding: 20px;
    background-color: $goldColor;
    transition: all 300ms ease;
    text-decoration: none;
    font-size: 30px;
    margin: 5px;
    border-radius: 30%;

    a:hover {
        color: rgb(98, 255, 0);

        #copy {
            background-color: black;
        }
    }
}

